.vscode
/dependencies
/filterscripts
/logs
/models
/npcmodes
/scriptfiles
/script/maps
/script/maps2
.env
*.txt
*.exe
*.dll
*.amx

pawn.json
samp.json
server.cfg
samp03svr
samp-npc
plugins/uuid.so
plugins/streamer.so
plugins/sscanf.so
plugins/pawnraknet.so
plugins/mysql.so
plugins/env.so
plugins/crashdetect.so
plugins/bcrypt-samp.so
log-core.so
announce
map.jpg
*.7z
